.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 70px);
  gap: 4px;
  background: #222;
  padding: 10px;
}

.cell {
  width: 70px;
  height: 70px;
}

.cell img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.candy {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.red {
  background-color: #e74c3c;
}

.blue {
  background-color: #3498db;
}

.green {
  background-color: #2ecc71;
}

.yellow {
  background-color: #f1c40f;
}

.purple {
  background-color: #9b59b6;
}

.orange {
  background-color: #e67e22;
}
